# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /newtax1on1/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /newtax1on1/index.php [L]
</IfModule>

# END WordPress
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-httpd-php application/x-javascript
</ifmodule>